#title {
    color: darkgreen;
    text-align: center;
    font-size: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: .8em;
}

#gameCanvas {
    display: inline;
    border-style: outset;
    border-width: .5em;
    border-color: green;
}

#canvas {
   width: 100%;
   text-align:center;
}

#score {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 75px;
    margin: 25px
  }

  #startButton {
      background-color:white;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 56em;
      margin-top:.9em;
      transition-duration: 0.4s;
      cursor: pointer;
  }

  #startButton:hover {
    background-color:green;
    color:white;
}

body {
    background-color:aquamarine;
}

